<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>状态生成<%=a%></p>
    <form  action="http://localhost:8080/user/register" method="post" enctype="multipart/form-data">
      账号：<input type="text" name="user" ><br/>
      密码：<input type="text" name="pass" ><br/>
      头像：<input type="file" name="f1" ><br/>
      <input type="submit" value="注册">
    </form>
  </body>
</html>
